<form [formGroup]="form" (submit)="onSend()">
  <div>
    <span>Есімініз</span>
    <input type="text" placeholder="name" formControlName="name" />
  </div>

  <div>
    <span>Тойға келесіз бе?</span>
    <div class="radio">
      <input type="radio" id="yes" value="true" formControlName="come" />
      <label for="yes">Ия</label>

      <input type="radio" id="no" value="false" formControlName="come" />
      <label for="no">Жоқ</label>
    </div>
  </div>

  <button mat-button class="sign" type="submit" [disabled]="form.invalid">
    Жіберу
  </button>
</form>
