<div class="container-segment">
    <div class="title">{{
        title === 'Days'
            ? 'Kun' : title === 'Hours'
                ? 'Sagat' : title === 'Minutes'
                    ? 'Minut' : title === 'Seconds'
                        ? 'Sekund': title }}</div>
    <div class="segment">
        <div #flipCard class="flip-card">
            <div class="top">0</div>
            <div class="bottom">0</div>
        </div>

        <div #flipCard class="flip-card">
            <div class="top">0</div>
            <div class="bottom">0</div>
        </div>
    </div>
</div>