<div id="main">
  <header>
    <h1>Zhannur & Altyn</h1>
    <h1>04.08.2023</h1>
  </header>
  <section class="text">
    <p>
      ҚҰРМЕТТІ АҒАЙЫН-ТУЫС,<br />
      ҚҰДА-ЖЕКЖАТ,<br />
      ДОС-ЖАРАН!
    </p>

    <p>
      Сіз(дер)ді ұлымыз Жаннұр мен келініміз Алтынның<br />
      уйлену тойына арналған салтанатты ақ дастарханымыздың<br />
      қадірлі қонағы болуға шақырамыз!
    </p>

    <p>
      <span>Той салтанаты</span><br />
      04.08.2023ж<br />
      17:00-де басталады<br />
    </p>
  </section>
  <section class="question">
    <app-questionnaire></app-questionnaire>
  </section>
  <section class="owners">
    <p>Той иелері:<br />Айдын-Айжан</p>
  </section>
  <section class="time">
    <p>Той салтанатына дейн</p>
    <app-countdown></app-countdown>
  </section>
</div>

<app-control></app-control>
