<div id="main">
  <header>
    <h1>Ильяс & Мөлдір</h1>
    <h1>06.06.2026</h1>
  </header>
  <section class="text">
    <p>
      ҚҰРМЕТТІ АҒАЙЫН-ТУЫС,<br />
      ҚҰДА-ЖЕКЖАТ,<br />
      ДОС-ЖАРАН!
    </p>

    <p>
      Сіз(дер)ді ұлымыз Ильяс пен келініміз Мөлдірдің
      үйлену тойына арналған
      салтанатты ақ дастарханымыздың
      қадірлі қонағы болуға
      шақырамыз!
    </p>

    <p class="small">
      <span>Той салтанаты:</span><br />
      06.06.2026 жыл<br />
      Сағат 17:00 <br />
    </p>

    <p class="small">
      Мекенжайымыз:
      Өскемен қаласы
      “Syrgalym” мейрамханасы
    </p>

    <p class="small">Сіздерді қуанышымызға ортақтасуға асыға күтеміз!</p>
  </section>
  <section class="question">
    <app-questionnaire></app-questionnaire>
  </section>
  <section class="owners">
    <p>Той иелері:<br />Ержан-Айгерим</p>
  </section>
  <section class="time">
    <p>Той салтанатына дейн</p>
    <app-countdown></app-countdown>
  </section>
</div>

<app-control></app-control>
